/* Стили для страницы */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
img {
  width: 1024px;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

p,
ol,
ul,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
h1 + p {
  color: rgba(0, 0, 0, 0.4);
}
a {
  color: inherit;
}

h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}

h2 {
  margin-top: 40px;
  font-size: 32px;
  list-style: 36px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}

h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  margin-top: 28px;
  font-size: 22px;
  list-style: 24px;
}

hr {
  margin: 12px auto;
  width: 1024px;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 32px;
}

ol {
  list-style-type: decimal;
  padding-left: 32px;
}

li {
  margin: 10px auto;
}

blockquote {
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: #000;
  top: 0;
  left: -17px;
}

/* стили для бокового меню */
.sidebar {
  width: 280px;
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 30%;
  transition: all ease 0.3s;
}
.sidebar:hover {
  opacity: 1;
  transition: all ease 0.6s;
}
.sidebar ol {
  width: 100%;
  font-size: 15px;
  line-height: 100%;
  margin: 10px 0;
  list-style-type: none;
  padding-left: 12px;
}
.sidebar ol ol {
  color: rgba(0, 0, 0, 0.4);
}
.sidebar li {
  font-size: inherit;
  max-width: 6px 0;
}
.sidebar a {
  font-size: inherit;
  text-decoration: none;
}
.menubar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.menubar img {
  width: 350px;
  margin: 0;
}
.menubar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.menubar a:hover {
  transition: all ease 0.6s;
  color: black;
}
