body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 21px;
    line-height: 24px;
    margin: 80px 0 0 0;
}

h2 {
    font-size: 17px;
    line-height: 19px;
}

p {
    font-size: 11px;
    line-height: 23px;
}

br {
    margin: 14px;
}
